.Rows {
  min-width: 0;
}

.Rows-table {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid var(--color-primary);
  overflow: hidden;
}

.Rows-table table {
  border-collapse: collapse;
}

.Rows thead th {
  padding: 8px;
  background-color: var(--color-primary-translucent);
  border-color: var(--color-primary);
  border-width: 1px;
	border-style: solid;
	font-size: large;
}

.Rows tbody tr:nth-child(odd) {
  background-color: var(--color-grey-light);
}

.Rows td {
  padding: 6px 8px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-primary);
}
